In [1]:
# import the dependencies and import key
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
# store the csv you saved to a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Indiaroba,BR,2022-10-13 02:09:06,-11.5192,-37.5117,70.83,90,1,3.20
1,1,New Norfolk,AU,2022-10-13 02:09:06,-42.7826,147.0587,62.10,74,100,1.99
2,2,Kirensk,RU,2022-10-13 02:04:43,57.7853,108.1119,37.24,92,100,5.19
3,3,Camana,PE,2022-10-13 02:09:08,-16.6228,-72.7111,60.26,79,61,7.34
4,4,Saskylakh,RU,2022-10-13 02:09:08,71.9167,114.0833,21.43,96,100,6.33

In [3]:
# confirming the data types of city_data_df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#configure gmaps to use the api key, only need to do this once
gmaps.configure(api_key=g_key)

In [5]:
#general syntax for creating a heatmap is as follows
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig
#add in the variables needed in the next cell

In [6]:
#create the heatmap for temp
# get the latitude and longitude from the dataframe
locations = city_data_df[["Lat", "Lng"]]

# get the maximum temperature from the dataframe and use a for loop to get rid of negative values
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=clouds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=winds, 
                                 dissipating=False, 
                                 max_intensity=300, 
                                 point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [11]:
# filter the dataset to find the cities that fir the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Mana,GF,2022-10-13 02:09:09,5.6592,-53.7767,77.90,88,97,6.73
11,11,Hithadhoo,MV,2022-10-13 02:09:12,-0.6000,73.0833,80.98,73,100,14.20
15,15,Bengkulu,ID,2022-10-13 02:09:14,-3.8004,102.2655,76.51,87,100,2.13
17,17,Cabrobo,BR,2022-10-13 02:09:16,-8.5142,-39.3100,75.20,60,0,20.04
23,23,Vaini,TO,2022-10-13 02:09:19,-21.2000,-175.2000,78.96,83,20,12.66
25,25,Fomboni,KM,2022-10-13 02:09:20,-12.2800,43.7425,76.19,70,0,9.01
34,34,Coahuayana,MX,2022-10-13 02:09:25,18.7333,-103.6833,79.41,91,100,1.54
35,35,Maningrida,AU,2022-10-13 02:09:26,-12.0667,134.2667,89.51,55,100,7.63
38,38,Mumford,GH,2022-10-13 02:09:28,5.2618,-0.7590,76.60,89,87,7.58
42,42,Alyangula,AU,2022-10-13 02:09:30,-13.8483,136.4192,85.91,68,39,11.27

In [12]:
# determine if preferred_cities_df has any null values
#preferred_cities_df.isnull().sum()

#could also use
preferred_cities_df.count()
#preferred_cities_df.notnull().sum()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [13]:
#create a new df to store the hotel name, city, country, max temp, lat/lng, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
6         Mana      GF     77.90   5.6592  -53.7767
11   Hithadhoo      MV     80.98  -0.6000   73.0833
15    Bengkulu      ID     76.51  -3.8004  102.2655
17     Cabrobo      BR     75.20  -8.5142  -39.3100
23       Vaini      TO     78.96 -21.2000 -175.2000
25     Fomboni      KM     76.19 -12.2800   43.7425
34  Coahuayana      MX     79.41  18.7333 -103.6833
35  Maningrida      AU     89.51 -12.0667  134.2667
38     Mumford      GH     76.60   5.2618   -0.7590
42   Alyangula      AU     85.91 -13.8483  136.4192

In [14]:
#setting the parameters for finding a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [16]:
#print the dataframe to verify that code found hotels within parameters
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Mana,GF,77.90,5.6592,-53.7767,LE SAMANA
11,Hithadhoo,MV,80.98,-0.6000,73.0833,Scoop Guest House
15,Bengkulu,ID,76.51,-3.8004,102.2655,Grage Hotel Bengkulu
17,Cabrobo,BR,75.20,-8.5142,-39.3100,Hotel Limarques
23,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
25,Fomboni,KM,76.19,-12.2800,43.7425,Auberge les abou
34,Coahuayana,MX,79.41,18.7333,-103.6833,El rranchito michuacan de ocampos
35,Maningrida,AU,89.51,-12.0667,134.2667,Dhukurrdji Lodge
38,Mumford,GH,76.60,5.2618,-0.7590,Peace Guest House
42,Alyangula,AU,85.91,-13.8483,136.4192,Groote Eylandt Lodge

In [19]:
# Add a heatmap of temperature for the vacation spots with a marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp, 
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=max_temp,
                                 dissipating=False,
                                 max_intensity=300, 
                                 point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))